/*
    Bordeaux: #5F021F
    LISTE: list-style-type: none;
*/



/* ----------------------------------------------------- GENERAL ----------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Lato',Verdana, Arial, Helvetica sans-serif;
    max-width: 100%;
    margin: auto;
    font-size: 1em;
    letter-spacing: 0.025em;
}

.search_button {
    padding: 0.4em;
    border-radius: 0.4em;
    font-family: 'Lato',Verdana, Arial, Helvetica sans-serif;
    color: #5F021F;
    font-size: 0.8em;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 0.15em solid #5F021F;
    text-transform: uppercase;
    font-weight: 600;
}

.search_button:hover {
    color: #fff;
    background-color: #5F021F;
    transition: 0.7s;
}

.inv_search_button {
    padding: 0.4em;
    border-radius: 0.4em;
    font-family: 'Lato',Verdana, Arial, Helvetica sans-serif;
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 0.03em;
    background-color: #5F021F;
    border: 0.15em solid #5F021F;
    text-transform: uppercase;
    font-weight: 600;
}

.inv_search_button:hover {
    color: #5F021F;
    background-color: #fff;
    transition: 0.7s;
}

.specific_wine li {
    display: block !important;
    width: 100% !important;
}

.specific_wine ul {
    padding: 0.2em 0em 0.2em 0.5em;
    margin: 0.5em 2em 0em 2em;
}

.specific_wine img {
    padding-left: 7.2em;
    padding-top: 1em;
    height: 16em;
}

.specific_wine label{
    text-transform: uppercase;
    margin-right: 0.3em;
    font-weight: 600;
    font-size: 0.9em;
}

/* HEADER & FOOTER */

#header,#footer {
    background-color: #5F021F;  
    height: 4em;
    font-weight: 300;
}

#header a, #footer a{
    color: rgba(226, 211, 201, 0.71);
    text-decoration: none;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

#header li, #footer li {
    display: inline-block;
    margin-right: 1.2em;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #fff;
}

#header li a:hover,#footer li a:hover{
    margin: 0em !important;
    color: #fff;
    /*
    border-bottom: 0.02em solid #fff;
    padding-bottom: 0.2em;
    */
    transition: 0.2s;
   
}

#breadcrumb {
    padding: 0.2em 0em 0.3em 0.5em;
    letter-spacing: 0em;
}

#breadcrumb a {
    margin-left: 0.3em;
}


/* classi che utilizzerà JAVASCRIPT */
 
.hide{
 
    display: none;
}


/*-----------------------------------------------------------HEADER*---------------------------------------------------------*/


#header {
    box-shadow: 0 0.15em 0.7em rgba(41, 51, 57, .5);
}

#header ul {
    float: right;
    margin: 1em 2em 1em 0em;
}

#logo,#logo_alt {
    margin: 0.4em 0em 0em 1.4em;
    height: 80%;
    text-decoration: none;
}

#logo_alt {
    display: none;
}

/*------------------------------------------------------------FOOTER------------------------------------------------------*/


#footer { 
    box-shadow: 0em -0.15em 0.7em rgba(41, 51, 57, .5);
    
    width: 100%;
    position: relative;
    bottom: 0;
}

#footer ul {
    text-align: center;
    margin: 1em;
    padding-top: 1em;
    list-style-type: none;
    
    margin-top: 0 !important;
}

#footer li {
    display: inline-block;
}

#footer li a {
    font-size: 0.85em;
}


/*-------------------------------------------------------------HOME----------------------------------------------------------*/

#header, #presentation,#wine_preview,#history_preview, #footer{
    display: block;
}


/* PRESENTATION */

#presentation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)),url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
    max-height: 100%;
    width: 100%;
    box-shadow: 0em -0.15em 2em rgba(41, 51, 57, .5);
}


#presentation h1,#presentation p {
    text-align: left;
    color: #fff;
}

#presentation h1 {
    font-family: 'Dancing Script',sans-serif;
    font-size: 4em;
    margin-left: 3.5em;
    padding-top: 0.8em;
}

#presentation p {
    font-size: 1.5em;
    font-weight: 100;
    margin-left: 9em;
    padding-top: 1em;
}


/*SHORT DESCRIPTION*/

#short_description {
    margin-top: 2em;
}

#short_description h2 {
    font-family: 'Dancing Script',sans-serif;
    font-size: 3em;
    color: #5F021F;
}

#short_description h2:after{
    display: block;
    height: 0.03em;
    background-color: #000;
    content: " ";
    width: 7em;
    margin: 0 auto;
    margin-top: 0.5em;
}

#short_description h2, #short_description p {
    text-align: center;
}

#short_description p {
    margin-top: 1em;
    width: 67%;
    color: dimgray;
    margin-left: 20%;
    margin-bottom: 4em;
}

/* WINE PREVIEW */

#wine_preview {
}

#wine_preview .preview_wine {
    display: inline-block;
    width: 32%;
}

#wine_preview .preview_wine img {
    height: 18em;
    margin-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    -webkit-transform: scale(1.00);
	-ms-transform: scale(1.00);
	transform: scale(1.00);
}

#wine_preview img:hover {
     -webkit-transform: scale(1.20);
	-ms-transform: scale(1.20);
	transform: scale(1.20);
    transition: transform 0.5s;
}

#wine_preview .preview_wine:first-child{
    background-color: azure;
    margin-left: 2%;
}

#wine_preview .preview_wine:last-child{
    background-color:beige;
}

.preview_wine_description {
    padding-top: 20%;
    width: 50%;
    float: right;
}

.preview_wine_description h3 {
    padding-bottom: 0.5em;
}

.preview_wine_description a {
    text-align: center;
    clear: both;
    color: grey;
}

.preview_wine_description a:hover {
    border-bottom: 0.01em solid gray;
    transition: 0.5s;
}


/* HISTORY PREVIEW */

#history_preview {
    background-image: url("../img/background-storia.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    background-color: black;
    background-position: center;
    height: 20em;
}

#history_preview h5 {
    margin-left: 61%;
    color: #fff;
    padding-top: 0.5em;
    font-family: 'Dancing Script',sans-serif;
    font-size: 2.3em;
}

#history_preview p{
    color: #fff;
    width: 50%;
    margin-left: 40%;
    margin-top: 2.2em;
    text-align: center;
    padding-bottom: 3em;
    font-style: italic;
    font-weight: 300;
}

/* APPETIZER */

#tasting h4 {
    margin-top: 1em;
    font-family: 'Dancing Script',sans-serif;
    font-size: 3em;
    color: #5F021F;
}

#tasting h4:after{
    display: block;
    height: 0.03em;
    background-color: #000;
    content: " ";
    width: 7em;
    margin: 0 auto;
    margin-top: 0.5em;
}

#tasting h4, #tasting p {
    text-align: center;
}

#tasting p {
    margin-top: 1em;
    width: 60%;
    color: dimgray;
    margin-left: 20%;
    margin-bottom: 4em;
}

/*-------------------------------------------------------------VINI---------------------------------------------------*/

/*SEARCH_WINES*/

#search_wines fieldset {
    border: none;
    background-image:  linear-gradient(rgba(237, 224, 224, 0.55), rgba(237, 224, 224, 0.55)),url(../img/background_search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#search_wines ul {
    margin: 1.5em 0em 2em 0em;
}

#search_wines li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1em;
}

#search {
    height: 2em;
    width: 25em;
    margin: 0em 4em 0em 4em;
    border-radius: 0.25em;
    border: none;
    box-shadow: 0 0.1em 0.5em 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    font-size: 1em;
    padding-right: 2.5em;
    /*immagine lente ingrandimento
    background-image: url(../img/icon_search.png);
    background-repeat: no-repeat;
    background-position:right;*/
}

#search_wines select {
    border-radius: 0.2em;
    font-size: 0.9em;
    padding: 0.2em 0.3em 0.2em 0.3em;
}

#order_by {
    font-size: 1.2em;
}


/*WINE_RESULTS*/

#wine_results{
    width: 90%;
    margin-top: 2em;
    margin-left: 5%;
    margin-bottom: 3em;
}

#wine_results li {
    display: inline-block;
    width: 25%;
    margin-bottom: 2em;
}

#specific_result li {
    width: 100% !important;
    margin-bottom: 0.2em !important;
    margin-left: 2em;
}

.specific_wine {
    /*
    background-color: rgba(247, 237, 224, 0.16);
    */
}


/*----------------------------------------------------------PAGINA SPECIFICA VINO----------------------------------------------*/

#container_wine {
    margin-bottom: 13em;
}

#container_wine div {
    display: inline-block;
}

#img_description_wine {
}

#wine_img {
    margin-left: 6em;
    margin-top: 1em;
    height: 34em;
}

#details_wine {
    width: 60%;
    margin-right: 7%;
    float: right;
}

#details_wine p {
    margin: 2em 3em 1em 0em;
    font-size: 1.1em;
}

#title_details {
    font-size: 1.8em !important;
    color: #5F021F;
    margin-top: 1.5em;
    letter-spacing: 0.025em;
    font-family: 'Dancing Script',sans-serif;
}

#title_details:after{
    display: block;
    height: 0.03em;
    background-color: #5F021F;
    content: " ";
    width: 15em;
    margin-left: 0em;
    margin-top: 0.5em;
}

#details_wine li {
    list-style-type: none;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

#details_wine label {
    font-size: 1.1em;
}










/*---------------------------------------------------STORIA---------------------------------------------------*/

#slideshow {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%; 
    background-image: url(../img/slideshow_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    
    background-position: center;
    height: 28em;
}

#history_description p {
    margin-top: 2em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#history_family {
    margin: 4em 0em 3em 0em;
    background-image: url(../img/back_background_family.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    height: 25em;
}

#history_family h2 {
    margin: 0em 0em 1em 9em;
    padding-top: 1.5em;
    text-align: center;
    font-size: 2.3em;
    color: #5F021F;
    letter-spacing: 0.025em;
    font-family: 'Dancing Script',sans-serif;
}

#history_family p {
    margin: 0em 5em 1em 25em;
    text-align: center;
    font-size: 1.1em;
}

#history_future {
    margin-bottom: 2.5em;
}

#history_future h3 {
    text-transform: uppercase;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 300;
}

#history_future p {
    margin: 0em 0em 1.5em 4em;
}


/*---------------------------------------------------ANNATA---------------------------------------------------*/

/*TITLE BEST ANNATE*/

#title_best_annate {
    width: 80%;
    margin-left: 10%;
}

#title_best_annate h1, #title_our_wines h1, #history_description h1, #container_wine h1, #register_fieldset h2 {
    margin-top: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 0.04em;
}

#title_best_annate h1:after, #title_our_wines h1:after, #history_description h1:after,  #container_wine h1:after, #register_fieldset h2:after {
    display: block;
    height: 0.03em;
    background-color: #000;
    content: " ";
    width: 15em;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}

#title_best_annate p {
    text-align: center;
    clear: both;
    margin-bottom: 2em;
    font-size: 1.7em;
    letter-spacing: 0.025em;
    font-family: 'Dancing Script',sans-serif;
}

/*SLOGAN ANNATE*/

#slogan_annate {
    text-align: center;
    background-image: linear-gradient(rgba(252, 239, 223, 0.53), rgba(252, 239, 223, 0.53)), url(../img/background_annata.jpg);
    height: 9em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0em 0em 1.5em rgba(97, 106, 111, 0.44);
}

#slogan_annate li {
    margin-top: 1.8em;
    margin-bottom: 1em;
    font-size: 1.9em;
    font-family: 'Dancing Script',sans-serif;
    display: inline-block;
    margin-right: 3em;
    font-weight: 600;
}

#slogan_annate a {
    text-decoration: none;
    -webkit-transform: scale(1.00);
	-ms-transform: scale(1.00);
	transform: scale(1.00);
    color: black;
}

#slogan_annate li:hover {
    -webkit-transform: scale(1.20);
	-ms-transform: scale(1.20);
	transform: scale(1.20);
    transition: transform 0.5s;
}

/*DESCRIPTION ANNATA*/

#description_annata {
    width: 85%;
    margin-top: 2.5em;
    margin-left: 7.5%;
    text-align: center;
}

#description_annata li {
    list-style-type: none;
}

#description_annata label {
    font-family: 'Dancing Script',sans-serif;
    font-size: 2em;
    color: #5F021F;
    font-weight: 600;
    width: 100%;
}

#description_annata div {
    display: inline-block;
}

#year_quality {
    width: 35%;
    float: left;
}

#year_quality li {
    display: block;
}

#year_quality p, #year_description p {
    padding-top: 0.4em;
}

#year_description {
    width: 65%;
}


/*LIST WINES YEAR*/

#list_wines_year {
    width: 90%;
    margin-top: 4em;
    margin-left: 5%;
    margin-bottom: 3em;
}

#list_wines_year h2 {
    margin-bottom: 1em;
}

#list_wines_year h3 {
    font-size: 1.05em;
}

#list_wines_year li {
    display: inline-block;
    width: 25%;
}

/*---------------------------------------------------CONTATTI---------------------------------------------------*/

#content_contacts_external {
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/backgroung_contacts.png");
}

#content_contacts {
    background-color: #fff;
    width: 60%;
    margin-left: 20%;
}

#howto_contacts h1 {
    padding-top: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 0.04em;
}

#howto_contacts h1:after {
    display: block;
    height: 0.03em;
    background-color: #000;
    content: " ";
    width: 15em;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}

#howto_contacts fieldset {
    width: 80%;
    margin-left: 10%;
    margin-top: 3em;
}

#howto_contacts legend {
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.06em;
}

#howto_contacts li {
    list-style-type: none;
    margin-left: 9em;
    margin-bottom: 0.5em;
}

#object_send {
    margin-right: 1.7em;
}

#textarea_form_help {
    margin-right: 25em;
    margin-top: 0.5em;
    width: 53%;
}

#send_request{
    float: right;
    margin-right: 8%;
    margin-bottom: 1em;
    margin-top: 1em;
}

#personal_contacts {
    margin: 2em 0em 2em 0em;
    background-color: #393535;
    color: #fff;
    padding: 1em 0em 1em 0em;
    width: 55%;
    margin-left: 22.5%;
}

#personal_contacts ul {
    text-align: center;
}

#personal_contacts li {
    margin-left: 0em !important;
}

#position_contacts h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
}

#position_contacts p {
    text-align: center;
    margin: 0.5em 0em 0.5em 0em;
}

#googleMap {
    margin-left: 5%;
    width: 90%;
}



/*-------------------------------------------------ACCEDI----------------------------------------*/

#register_div {
    margin-bottom: 11.9em;
}

/*messaggio di errore*/
#register_div h1 {
    margin-top: 2em;
    text-align: center;
    font-size: 1.6em;
    color: red;
}

#register_fieldset {
    border: 0em;
}

#register_fieldset ul {
    margin-top: 3em;
    margin-left: 27%;
    width: 40%;
    border: 0.02em solid grey;
    padding: 2.5em 3em 3.5em 2em;
}

#register_fieldset li {
    list-style-type: none;
    margin-left: 5em;
    margin-bottom: 1.5em;
}

#register_fieldset label {
    font-size: 1.2em;
}

#register_fieldset a {
    font-size: 1.1em;
}

#register_fieldset input {
    margin-left: 0.5em;
    font-size: 1em;
    width: 55%;
    padding: 0.15em 0.6em;
    border-radius: 0.18em;
}

#password {
    margin-left: 1em !important;
}

#login_button, #recover_submit {
    font-size: 0.8em !important;
    width: auto !important;
    float: right;
    margin-right: 6em;
    border-radius: 0.4em !important;
    padding: 0.4em !important;
}


/*-------------------------------------------------RECUPERO PASSWORD----------------------------------------*/


#box_center {
    margin-bottom: 13.9em;
}

/*messaggio di errore*/
#box_center h1 {
    margin-top: 2em;
    text-align: center;
    font-size: 1.6em;
    color: red;
}

#recover_text {
    width: 17em !important;
    margin-left: 2em !important;
}

#recover_submit {
    margin-right: 3em !important;
}




/*-------------------------------------------------ERROR 404----------------------------------------*/

#error_404 {
    background-image: url("../img/404.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 34.15em;
    width: 100%;
}

#not_found {
    padding-top: 15em;
    margin-left: 3%;
    text-align: center;
    width: 40%;
}

#not_found h1 {
    font-size: 3.5em;
    color: #524f4f;
}

#not_found p {
    margin-top: 0.4em;
    font-size: 1.2em;
    margin-bottom: 1.4em;
}

#not_found a {
    color: #5F021F;
}




