/*
    Bordeaux: #5F021F;
    LISTE: list-style-type: none;
*/

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  GENERAL  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

img,a img,a{
    border-style: none;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Lato', 'Verdana', 'Arial', 'Helvetica sans-serif';
    max-width: 100%;
    height: 100%;
    margin: auto;
    font-size: 1em;
    letter-spacing: 0.025em;
}

textarea {
    resize: none;
    font: 400 13.3333px Arial;
    font-size: 0.9em;
    padding: 0.3em 0.2em 0.2em 0.3em;
}

.inv_search_button {
    padding: 0.4em;
    border-radius: 0.4em;
    font-family: 'Lato', 'Verdana', 'Arial', 'Helvetica sans-serif';
    color: #5F021F;
    font-size: 0.8em;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 0.15em solid #5F021F;
    text-transform: uppercase;
    font-weight: 600;
}

.inv_search_button:hover {
    color: #fff;
    background-color: #5F021F;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.search_button {
    padding: 0.4em;
    border-radius: 0.4em;
    font-family: 'Lato', 'Verdana', 'Arial', 'Helvetica sans-serif';
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 0.03em;
    background-color: #5F021F;
    border: 0.15em solid #5F021F;
    text-transform: uppercase;
    font-weight: 600;
}

.search_button:hover {
    color: #5F021F;
    background-color: #fff;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}

.specific_wine li {
    display: block !important;
    width: 100% !important;
}

.specific_wine ul {
    padding: 0.2em 0em 0.2em 0.5em;
    margin: 0.5em 2em 0em 2em;
}

.specific_wine img {
    padding-left: 7.8em;
    padding-top: 1em;
    height: 16em;
}

.specific_wine label {
    text-transform: uppercase;
    margin-right: 0.3em;
    font-weight: 600;
    font-size: 0.9em;
}

#search,
#search_admin {
    height: 2em;
    border-radius: 0.25em;
    border: none;
    -webkit-box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 0.1em 0.5em 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    padding-left: 0.7em;
}

/* HEADER & FOOTER */

#header,
#footer {
    background-color: #5F021F;
    height: 4em;
    font-weight: 300;
}

#header a,
#footer a,
#horizontal_menu a {
    color: rgba(226, 211, 201, 0.71);
    text-decoration: none;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

#header li {
    display: inline-block;
    margin-right: 1.2em;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0.2em;
}

#header li a:hover,
#footer li a:hover,
#horizontal_menu a:hover {
    margin: 0em !important;
    color: #fff;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

#go_up, #go_up_index {
    margin: 0.5em 2em 1em 2em;
    float: right;
    font-weight: 600;
    font-size: 1.2em;
}

#go_up {
    color: #5F021F;
}

#go_up_index {
    color: #fff;
}

/* TITOLI */

#title_best_annate h1,
#title_our_wines h1,
#history_description h1,
#container_wine h1,
#register_fieldset h1,
#register_fieldset_recover h1,
#presentation_events h1,
#howto_contacts h1 {
    padding-top: 1em;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 0.04em;
}

#title_best_annate h1:after,
#title_our_wines h1:after,
#history_description h1:after,
#container_wine h1:after,
#register_fieldset h1:after,
#register_fieldset_recover h1:after,
#presentation_events h1:after,
#howto_contacts h1:after {
    display: block;
    height: 0.03em;
    background-color: #000;
    content: " ";
    width: 15em;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}

/* PANNELLO ADMIN */

.admin_button {
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
    font-size: 0.9em;
    color: #5F021F;
    background-color: rgba(226, 211, 201, 0.71);
    border: 0.1em solid #5F021F;
}

.admin_button:hover {
    color: #fff;
    background-color: #5F021F;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

#admin_title {
    text-align: center;
    margin-top: 0.5em;
    font-size: 1.5em;
    font-weight: 100;
}

#top_message {
    list-style-type: none;
    margin-top: 1em;
    margin-left: 1em;
    font-weight: 600;
}

.info_sentence,
.error_sentence {
    padding: 0.2em 0em;
    background-color: rgba(226, 211, 201, 0.71);
    text-align: center;
    color: #5F021F;
}

#no_elements {
    margin: 1em 0em 0.5em 2em;
    font-size: 1.2em;
}

/* classi che utilizzerà JAVASCRIPT */

.hide {
    display: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  HEADER  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

#header {
    -webkit-box-shadow: 0 0.15em 0.7em rgba(41, 51, 57, .5);
    box-shadow: 0 0.15em 0.7em rgba(41, 51, 57, .5);
}

#header ul {
    float: right;
    margin: 1em 2em 1em 0em;
}

#logo,
#logo_alt,
#logo_alt_mobile {
    margin: 0.4em 0em 0em 1.4em;
    height: 80%;
    text-decoration: none;
}

#logo_alt,
#logo_alt_mobile,
#logo_alt_link,
#logo_alt_mobile_link {
    display: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  FOOTER  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

#footer {
    -webkit-box-shadow: 0em -0.15em 0.7em rgba(41, 51, 57, .5);
    box-shadow: 0em -0.15em 0.7em rgba(41, 51, 57, .5);
    width: 100%;
    position: relative;
    margin: 0em;
    clear: both;
}

#footer ul {
    text-align: center;
    margin: 1em;
    padding-top: 1.2em;
    list-style-type: none;
    margin-top: 0 !important;
}

#footer li {
    display: inline-block;
    margin-right: 1.2em;
    font-size: 1.1em;
    text-transform: uppercase;
    color: #fff;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  INDEX  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

#header,
#presentation,
#wine_preview,
#history_preview,
#footer {
    display: block;
}

/* PRESENTATION */

#presentation {
    background: url("../img/background_index.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.38)), to(rgba(0, 0, 0, 0.38))), url("../img/background_index.png");
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url("../img/background_index.png");
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url("../img/background_index.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)), url("../img/background_index.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 27em;
    max-height: 100%;
    width: 100%;
    -webkit-box-shadow: 0em -0.15em 2em rgba(41, 51, 57, .5);
    box-shadow: 0em -0.15em 2em rgba(41, 51, 57, .5);
}

#presentation h1,
#presentation p {
    text-align: left;
    color: #fff;
}

#presentation h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 3.5em;
    font-weight: 100;
    text-align: center;
    margin-left: 4em;
    padding-top: 0.8em;
}

#presentation p {
    text-align: center;
    margin-left: 43%;
    margin-right: 32%;
    font-size: 1.3em;
    font-weight: 100;
    padding-top: 1.3em;
}

/* SHORT DESCRIPTION */

#short_description {
    margin-top: 2em;
    text-align: center;
}

#short_description h2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 3em;
    color: #5F021F;
}

#short_description h2:after {
    display: block;
    height: 0.03em;
    background-color: #000;
    content: " ";
    width: 7em;
    margin: 0 auto;
    margin-top: 0.2em;
}

#short_description h2,
#short_description p {
    text-align: center;
}

#short_description p {
    margin-top: 1em;
    width: 67%;
    color: dimgray;
    margin-left: 16%;
    margin-bottom: 4em;
}

/* WINE PREVIEW */

#wine_preview .preview_wine {
    display: inline-block;
    width: 32%;
    text-align: center;
}

#wine_preview .preview_wine img {
    height: 18em;
    margin-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    -webkit-transform: scale(1.00);
    -ms-transform: scale(1.00);
    transform: scale(1.00);
}

#wine_preview img:hover {
    -webkit-transform: scale(1.20);
    -ms-transform: scale(1.20);
    transform: scale(1.20);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

#wine_preview .preview_wine:first-child {
    background-color: rgba(227, 206, 191, 0.87);
    margin-left: 1.5%;
    margin-right: 0.3%;
}

#wine_preview .preview_wine:nth-child(2) {
    background-color: rgba(235, 220, 209, 0.83);
    margin-right: 0.3%;
}

#wine_preview .preview_wine:last-child {
    background-color: rgba(242, 233, 227, 0.71);
}

.preview_wine_description {
    padding-top: 4em;
    width: 50%;
    float: right;
}

.preview_wine_description p {
    padding-right: 1em;
    margin-top: 1em;
}

.preview_wine_description a {
    text-decoration: none;
}

#wine_preview a {
    border-bottom: 0.5em solid #5F021F;
}

#red_wine a,
#rose_wine a,
#white_wine a {
    font-family: 'Dancing Script', sans-serif;
    font-size: 2.2em;
    color: #5F021F;
    border-bottom: 0.05em solid #5F021F;
}

/*
.preview_wine_description h3:after, .preview_wine_description h4:after, .preview_wine_description h5:after {
    display: block;
    height: 0.05em;
    background-color: #5F021F;
    content: " ";
    width: 4.5em;
    margin: 0 auto;
}
*/

/* TASTING */

#tasting h2 {
    margin-top: 1em;
    font-family: 'Dancing Script', sans-serif;
    font-size: 3em;
    color: #5F021F;
}

#tasting h2:after {
    display: block;
    height: 0.03em;
    background-color: #000;
    content: " ";
    width: 10em;
    margin: 0 auto;
    margin-top: 0.3em;
}

#tasting h2,
#tasting p {
    text-align: center;
}

#tasting p {
    margin-top: 1em;
    width: 60%;
    color: dimgray;
    margin-left: 20%;
    margin-bottom: 4em;
}

/* HISTORY PREVIEW */

#history_preview {
    background: url("../img/background-storia.jpg");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.32)), to(rgba(0, 0, 0, 0.32))), url("../img/background-storia.jpg");
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url("../img/background-storia.jpg");
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url("../img/background-storia.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url("../img/background-storia.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    width: 100%;
    height: 17em;
    padding-bottom: 5em;
}

#history_paragraph {
    padding-top: 4em;
    text-align: center;
    width: 50%;
    margin-left: 45%;
    margin-right: 20%;
}

#history_paragraph h3 {
    color: #fff;
    font-family: 'Dancing Script', sans-serif;
    font-size: 2.8em;
}

#history_preview p {
    color: #fff;
    margin-top: 2em;
    text-align: center;
    padding-bottom: 3em;
    font-style: italic;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  VINI  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/* SEARCH_WINES */

#search_wines fieldset {
    border: none;
    background: url("../img/background_search.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.29)), to(rgba(255, 255, 255, 0.29))), url(../img/background_search.png);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.29), rgba(255, 255, 255, 0.29)), url(../img/background_search.png);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.29), rgba(255, 255, 255, 0.29)), url(../img/background_search.png);
    background-image: linear-gradient(rgba(255, 255, 255, 0.29), rgba(255, 255, 255, 0.29)), url(../img/background_search.png);
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 0.01em solid #c9ccce;
}

#external_search_div {
    margin: 2.5em 0em 1.5em 0em;
}

#search_wines ul {
    text-align: center;
}

#search_wines li {
    list-style-type: none;
}

#search_wines li {
    display: inline-block;
    margin-left: 0.5em;
}

#search_wines select {
    border-radius: 0.2em;
    font-size: 0.9em;
    padding: 0.2em 0.3em;
}

#order_by,
#filter_by {
    font-size: 1.2em;
    margin-bottom: 2em;
}

/* WINE_RESULTS */

#wine_results {
    width: 90%;
    margin-top: 2em;
    margin-left: 5%;
    margin-bottom: 3em;
}

#wine_results li {
    display: inline-block;
    width: 25%;
}

#wine_results ul {
    float: left;
}

.specific_result ul {
    margin-bottom: 2em;
}

.specific_result li {
    margin-bottom: 0.2em;
    margin-left: 2em;
    color: black;
}

.specific_result label {
    color: #5F021F;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  PAGINA SPECIFICA VINO  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/* CONTAINER WINE */

#container_wine h1 {
    margin-left: 10em;
}

#container_wine div {
    display: inline-block;
}

/* IMG DESCRIPTION WINE */

#wine_img {
    margin-left: 6em;
    height: 40em;
}

/* DETAILS WINE */

#details_wine {
    width: 60%;
    margin-right: 7%;
    float: right;
}

#details_wine p {
    text-align: center;
    font-size: 1.1em;
}

#details_wine ol {
    margin-bottom: 2.5em;
}

.title_details {
    font-size: 1.8em;
    color: #5F021F;
    margin-top: 1.5em;
    letter-spacing: 0.025em;
    font-family: 'Dancing Script', sans-serif;
}

.title_details:after {
    display: block;
    height: 0.03em;
    background-color: #5F021F;
    content: " ";
    width: 15em;
    margin-left: 0em;
    margin-top: 0.5em;
}

#details_wine li {
    list-style-type: none;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
}

#details_wine li label {
    font-size: 1.2em;
    color: #5F021F;
}

#details_wine label {
    font-size: 1.1em;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  ANNATE MIGLIORI  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/* TITLE BEST ANNATE */

#title_best_annate {
    width: 80%;
    margin-left: 10%;
}

#title_best_annate p {
    text-align: center;
    clear: both;
    margin-bottom: 2em;
    font-size: 1.7em;
    letter-spacing: 0.025em;
    font-family: 'Dancing Script', sans-serif;
}

/* LIST ANNATE */

#list_annate {
    text-align: center;
    background: url("../img/background_annata_ie.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(252, 239, 223, 0.53)), to(rgba(252, 239, 223, 0.53))), url(../img/background_annata.png);
    background-image: -webkit-linear-gradient(rgba(252, 239, 223, 0.53), rgba(252, 239, 223, 0.53)), url(../img/background_annata.png);
    background-image: -o-linear-gradient(rgba(252, 239, 223, 0.53), rgba(252, 239, 223, 0.53)), url(../img/background_annata.png);
    background-image: linear-gradient(rgba(252, 239, 223, 0.53), rgba(252, 239, 223, 0.53)), url(../img/background_annata.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0em 0em 1.5em rgba(97, 106, 111, 0.44);
    box-shadow: 0em 0em 1.5em rgba(97, 106, 111, 0.44);
}

#list_annate ul {
    padding-top: 3em;
    padding-bottom: 2em;
    margin-left: 8%;
}

#list_annate a {
    text-decoration: none;
    -webkit-transform: scale(1.00);
    -ms-transform: scale(1.00);
    transform: scale(1.00);
    color: black;
    border-bottom: 0.01em solid black;
}

#list_annate li {
    margin-bottom: 1em;
    font-size: 2em;
    font-family: 'Dancing Script', sans-serif;
    display: inline-block;
    margin-right: 3.5em;
    font-weight: 600;
}

#list_annate li:hover {
    -webkit-transform: scale(1.20);
    -ms-transform: scale(1.20);
    transform: scale(1.20);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

#current_year {
    color: #740e2e !important;
    border-bottom: 0em !important;
}

/* DESCRIPTION ANNATA */

#description_annata {
    width: 85%;
    margin-top: 2.5em;
    margin-left: 7.5%;
    text-align: center;
}

#description_annata li {
    list-style-type: none;
}

#description_annata label {
    font-family: 'Dancing Script', sans-serif;
    font-size: 2em;
    color: #5F021F;
    font-weight: 600;
    width: 100%;
}

#description_annata div {
    display: inline-block;
}

#year_quality {
    width: 35%;
    float: left;
}

#year_quality li {
    display: block;
}

#year_quality p {
    padding-top: 0.1em;
    font-size: 1.2em;
    padding-bottom: 0.3em;
}

#year_description p {
    padding-top: 0.4em;
    font-size: 1.1em;
}

#year_description {
    width: 65%;
}

/* LIST WINES YEAR */

#list_wines_year {
    width: 90%;
    margin-top: 4em;
    margin-left: 5%;
    margin-bottom: 3em;
}

#list_wines_year h2 {
    padding-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
    text-align: center;
    font-weight: 100;
}

#list_wines_year h3 {
    font-size: 1.05em;
}

#list_wines_year li {
    display: inline-block;
    width: 25%;
}

#list_wines_year ul {
    float: left;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  EVENTI  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/* PRESENTATION EVENTS */

#presentation_events p {
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 1.5em;
}

#presentation_events a {
    width: 10%;
    margin-left: 45%;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #a31b46;
}

/* EVENT PREVIEW */

#event_preview div {
    height: 20em;
}

#tasting_tour h2,
#san_valenwine h4,
#apperitif_gourmet h3 {
    text-align: center;
    margin-left: 35%;
    padding-top: 0.5em;
    margin-bottom: 0.3em;
    font-family: 'Dancing Script', sans-serif;
    font-size: 2.5em;
    color: #5F021F;
    font-weight: 600;
}

#tasting_tour p,
#san_valenwine p,
#apperitif_gourmet p {
    margin-left: 42%;
    margin-right: 2%;
    margin-bottom: 1em;
    text-align: center;
}

#tasting_tour,
#san_valenwine,
#apperitif_gourmet {
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5%;
}

#tasting_tour {
    margin-top: 4em;
    background-image: url(../img/tasting_tour.png);
}

#san_valenwine {
    background-image: url(../img/san_valenwine.png);
}

#apperitif_gourmet {
    background-image: url(../img/apperitif_gourmet.png);
}

#ovidio_quote {
    font-family: 'Dancing Script', sans-serif;
    font-size: 1.4em;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  STORIA  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/* HISTORY DESCRIPTION */

#slideshow {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-image: url(../img/slideshow_1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 30.5em;
}

#history_description p {
    text-align: center;
    margin-top: 2em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* HISTORY FAMILY */

#history_family div {
    display: inline-block;
}

#history_family_photo {
    background-image: url(../img/back_background_family.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 21em;
}

#history_family {
    margin: 3em 3em 2em 4em;
    height: 21em;
    border: 0.01em solid black;
}

#history_family_paragraph {
    padding-top: 1em;
    margin: 0% 3% 0% 0%;
    width: 53%;
    float: right;
}

#history_family h2 {
    margin-bottom: 0.5em;
    margin-top: 3%;
    text-align: center;
    font-size: 2.3em;
    letter-spacing: 0.025em;
    font-family: 'Dancing Script', sans-serif;
}

#history_family p {
    text-align: center;
    font-size: 1.1em;
}

/* HISTORY FUTURE */

#history_future {
    margin-bottom: 2.5em;
}

#history_future h3 {
    text-transform: uppercase;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 0.5em;
    font-weight: 300;
}

#history_future p {
    text-align: center;
    margin: 0% 5%;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  CONTATTACI  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/* CONTENT CONTACTS EXTERNAL */

#content_contacts_external {
    background: url("../img/background_contacts.png");
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url("../img/background_contacts.png");
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/background_contacts.png");
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/background_contacts.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/background_contacts.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

/* CONTENT CONTACTS */

#content_contacts {
    background-color: #fff;
    width: 60%;
    margin-left: 20%;
}

/* HOW TO CONTACTS */

#howto_contacts legend {
    text-align: center;
    margin-bottom: 0.5em;
    padding-top: 1em;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.06em;
}

#howto_contacts ul {
    width: 70%;
    margin-left: 15%;
    border: 0.01em solid black;
}

#howto_contacts li {
    list-style-type: none;
    margin-bottom: 0.2em;
    padding-left: 27%;
}

#howto_contacts li:first-child {
    margin-top: 1.5em;
}

#howto_contacts input {
    padding: 0.2em 0.3em;
    width: 61%;
}

#object_send {
    margin-right: 1.7em;
}

#send_request_line {
    text-align: center;
    padding-left: 0em !important;
    padding-right: 0em !important;
}

#send_request {
    margin-bottom: 1em;
    margin-top: 1em;
    width: auto !important;
}

#textarea_form_help {
    padding: 0.3em 0.5em;
    width: 61%;
}

/* PERSONAL CONTACTS */

#personal_contacts {
    margin: 2em 0em 2em 0em;
    background-color: #393535;
    color: #fff;
    padding: 1em 0em;
    width: 40%;
    margin-left: 30%;
}

#personal_contacts li {
    list-style-type: none;
}

#personal_contacts ul {
    text-align: center;
}

/* POSITION CONTACTS */

#position_contacts {
    padding-bottom: 1.5em;
}

#position_contacts h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
}

#position_contacts p {
    text-align: center;
    margin: 0.5em 0em;
}

#googleMap {
    margin-left: 5%;
    width: 90%;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  LOGIN  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/* REGISTER CONTENT */

/* messaggio di errore */

#register_content h2,
#gonna_delete_user {
    margin-top: 2em;
    text-align: center;
    font-size: 1.6em;
    color: red;
}

/* REGISTER FIELDSET */

#register_fieldset,
#panel_admin_form fieldset,
#register_fieldset_recover {
    border: 0em;
}

#register_fieldset ul,
#register_fieldset_recover ul {
    margin-top: 3em;
    margin-left: 27%;
    width: 40%;
    border: 0.02em solid grey;
    padding: 2.5em 3em 1.5em 3em;
}

#register_fieldset li {
    list-style-type: none;
    margin-bottom: 0.4em;
    margin-left: 28%;
}

#register_fieldset_recover li {
    list-style-type: none;
    margin-bottom: 0.5em;
    text-align: center;
}

#register_fieldset label,
#register_fieldset_recover label {
    font-size: 1.2em;
}

#register_fieldset a {
    font-size: 1.1em;
}

#password_label {
    margin-right: 0.4em;
}

#register_fieldset input,
#register_fieldset_recover input {
    font-size: 1em;
    padding: 0.15em 0.6em;
    border-radius: 0.18em;
    margin-bottom: 0.5em;
}

#login_button_line {
    text-align: center;
    margin-left: 0em !important;
}

#login_button {
    margin-top: 1em;
}

#login_button,
#recover_submit {
    font-size: 0.8em !important;
    width: auto !important;
    border-radius: 0.4em !important;
    padding: 0.4em !important;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  RECOVER  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/* RECOVER TEXT */

#recover_text {
    width: 17em !important;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*  ERROR 404  */

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/* ERROR 404 */

#error_404 {
    background-image: url("../img/404.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 35.75em;
    width: 100%;
}

/* NOT FOUND */

#not_found {
    padding-top: 15em;
    margin-left: 3%;
    text-align: center;
    width: 40%;
}

#not_found h1 {
    font-size: 2.6em;
    color: #524f4f;
}

#not_found p {
    margin-top: 0.4em;
    font-size: 1.1em;
    margin-bottom: 1.4em;
}

#not_found a {
    color: #5F021F;
    font-size: 1.1em;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/*ADMIN PANEL*/

/*----------------------------------------------------------------------------------------------------------------------------------------*/

/**********************************************  ADMIN WINES  ****************************************************/

/* HORIZONTAL MENU */

#admin_content {
    border: 0.1em solid;
    width: 80%;
    margin-left: 10%;
    margin-top: 3em;
    margin-bottom: 2em;
    padding-bottom: 0.8em;
}

#horizontal_menu {
    background-color: #5F021F;
}

#horizontal_menu ul {
    padding: 0.6em 0em;
    text-align: center;
}

#horizontal_menu li {
    display: inline-block;
    margin-right: 3%;
}

/* ADMIN SEARCH */

#admin_content fieldset {
    border-left: 0.01em solid;
    border-right: 0.01em solid;
    margin-bottom: 0.5em;
}

#admin_after_menu ul {
    margin: 1em 0em;
    text-align: center;
}

#search_admin {
    width: 90%;
    margin-left: 1em;
    margin-right: 5em;
    margin-bottom: 1em;
}

/* SELECT ADMIN BUTTONS */

#check_table {
    margin-left: 1.5em;
}

.select_admin_buttons {
    margin: 0.8em 0em 0.7em 1em;
}

.select_admin_buttons a {
    float: right;
    margin-right: 1.5em;
    text-transform: uppercase;
    color: #5F021F;
    font-weight: 600;
}

.select_admin_buttons a:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
}

.select_admin_buttons input {
    margin-right: 1em;
}

/* ADMIN HEADER */

#admin_header {
    color: #5F021F;
    background-color: rgba(226, 211, 201, 0.71);
    font-weight: 600;
    height: 1.8em;
}

#menu_select {
    padding-top: 0.3em;
    padding-left: 2%;
}

/* WINES RESULTS */

.admin_table {
    display: table;
}

.admin_tr {
    display: table-row;
}

.admin_td {
    display: table-cell;
}

.admin_wines_checkbox_column {
    width: 8%;
}

.admin_wines_name_column,
.admin_wines_denomination_column {
    width: 16%;
}

.admin_wines_tipology_column,
.admin_wines_year_column {
    width: 6%;
}

.admin_wines_modify_column,
.admin_wines_remove_column {
    width: 5%;
}

.admin_wines_checkbox {
    margin-left: 36%;
}

.admin_wines_tipology_column,
.delete_wine_tipology_column {
    padding-left: 1%;
}

.admin_wines_year_column,
.delete_wine_year_column {
    padding-left: 0.6%;
}

.admin_wines_remove_column a {
    padding-left: 25%;
    color: red;
}

/**********************************************  ADMIN YEARS  ****************************************************/

.admin_years_checkbox_column,
.admin_years_year_column,
.admin_years_quantity_column,
.admin_years_best_column,
.admin_years_modify_column,
.admin_years_remove_column {
    width: 19%;
}

.admin_years_checkbox,
.admin_users_checkbox {
    margin-left: 24%;
}

.admin_years_year_column,
.delete_year_year_column {
    padding-left: 0.5%;
}

.admin_years_quantity_column,
.delete_year_quality_column {
    padding-left: 0.3%;
}

.admin_years_best_column,
.delete_year_best_column {
    padding-left: 2%;
}

.admin_years_remove_column a {
    padding-left: 40%;
    color: red;
}

/**********************************************  ADMIN USERS  ****************************************************/

.admin_users_checkbox_column {
    width: 19%;
}

.admin_users_name_column,
.admin_users_username_column,
.admin_users_modify_column,
.admin_users_remove_column {
    width: 17%;
}

.admin_users_email_column {
    width: 25%;
}

.admin_users_remove_column a {
    padding-left: 40%;
    color: red;
}

/********************************************  ADMIN PROFILE  ****************************************************/

#admin_profile_page li {
    list-style-type: none;
    margin-bottom: 0.2em;
}

#admin_profile_page li:first-child,
#panel_admin_form_add_wine li:first-child,
#panel_admin_form_add_year li:first-child {
    margin-top: 1.5em;
}

#admin_profile_page li:last-child,
#panel_admin_form_add_wine li:last-child {
    margin-bottom: 1.5em;
}

#admin_profile_page ul,
#panel_admin_form ul,
#panel_admin_form_add_year ul {
    width: 60%;
    margin-left: 20%;
    border: 0.01em solid black;
}

#admin_profile_page label,
#panel_admin_form_add_wine label,
#panel_admin_form_add_year label {
    color: #5F021F;
    font-size: 1.1em;
}

.label_add {
    margin-top: 0.8em;
}

.input_add,
#panel_admin_form_add_wine select,
#panel_admin_form_add_year select {
    padding: 0.2em 0.3em;
    font-size: 0.9em;
    width: 17em;
}

#required_fields_profile {
    font-size: 1em !important;
}

/**********************************************  ADD WINE  ****************************************************/

#panel_admin_form_add_wine fieldset,
#panel_admin_form_add_year fieldset {
    border: none;
}

#panel_admin_form_add_wine ul,
#panel_admin_form_add_year ul {
    width: 60%;
    margin-left: 20%;
    border: 0.01em solid black;
    padding-bottom: 1em;
}

#panel_admin_form_add_wine li,
#panel_admin_form_add_year li {
    list-style-type: none;
    margin-bottom: 0.3em;
    text-align: center;
}

#panel_admin_form select {
    margin-right: 1.5em;
}

#select_file {
    padding-left: 0em !important;
}

#save_add_wine, #save_add_year, #save_admin_profile, #save_modify_wine {
    margin-top: 1em;
    margin-bottom: 1em;
}

/**********************************************  ADD YEAR  ****************************************************/

/**********************************************  ADD USERS  ****************************************************/

#important_message_user,
#important_message_year {
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 1em !important;
}

#important_message_user {
    margin-left: 0% !important;
}

#admin_profile_page fieldset {
    border: 0em;
}

/**********************************************  MODIFY WINE  ****************************************************/

#modify_wine_img {
    height: 15em;
}

#panel_admin_form textarea {
    width: 16em;
    height: 5.8em;
    padding: 0.2em 0.3em 0.3em 0.4em;
    font-family: 'Lato', 'Verdana', 'Arial', 'Helvetica sans-serif';
    font-size: 0.9em;
    margin-bottom: 1em;
}

#panel_admin_form img {
    margin-left: 20%;
    margin-bottom: 1em;
}

/**********************************************  MODIFY YEAR  ****************************************************/

/**********************************************  DELETE WINE  ****************************************************/

.delete_wine_checkbox_column {
    width: 9%;
}

.delete_wine_tipology_column,
.delete_wine_year_column {
    width: 7%;
}

.delete_wine_name_column,
.delete_wine_denomination_column {
    width: 10%;
}

.delete_wine_checkbox {
    margin-left: 22%;
}

/**********************************************  DELETE YEAR  ****************************************************/

.delete_year_checkbox_column,
.delete_year_year_column,
.delete_year_quality_column,
.delete_year_best_column {
    width: 6%;
}

.delete_year_checkbox {
    margin-left: 18%;
}

/**********************************************  DELETE USER  ****************************************************/

.delete_user_checkbox_column,
.delete_user_name_column,
.delete_user_username_column,
.delete_user_email_column {
    width: 8%;
}

.delete_user_checkbox {
    margin-left: 19%;
}

/************************************* JAVASCRIPT *******************************************/

.js_error {
    color: red;
    font-size: 0.9em;
}

.hide_js {
    display: none;
}

/***** GENERAL FIXES FOR DIFFERENT BROWSERS *****/

