ErrorDocument 404 /WineNot/html/404.html
AddType application/x-httpd-php .html .htm

Options +FollowSymLinks
RewriteEngine On
RewriteRule ^(.*)/admin$ http://localhost/WineNot/php/login.php [R=301,L]
